---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Array actualitzat amb el contingut per al TFG de Biologia
const philosphy = [
  {
    title: "Itineraris de camp",
    description:
      "Recorreguts geològics per la comarca d’Osona per preparar i ampliar les sortides pràctiques de l'assignatura de geologia.",
  },
  {
    title: "Parades interpretatives",
    description:
      "Punts específics -parades- de cada itinerari on s’explica el context geològic i els elements d’interès de cada indret.",
  },
  {
    title: "Relació geologia-botànica",
    description:
      "Anàlisi de com el substrat geològic influeix en la vegetació present .",
  },
  {
    title: "Anàlisi de roques",
    description:
      "Estudi de mostres i observació petrogràfica amb làmina prima per caracteritzar els materials.",
  },
  {
    title: "Cartografia amb QGIS",
    description:
      "Mapes temàtics per visualitzar la geologia, la vegetació i la distribució espacial dels punts d’estudi.",
  },
  {
    title: "Suport a l’aprenentatge",
    description:
      "Un recurs digital pensat perquè l’alumnat pugui estudiar i revisar els continguts de les sortides.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div
      class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 overflow-hidden"
    >
      <Text
        tag="h3"
        variant="displayXL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="dark:text-white text-base-900 font-medium tracking-tighter text-balance"
        >Què hi trobaràs
      </Text>
      <div
        class="flex flex-col sm:col-span-2 lg:col-span-3 divide-y divide-base-200 dark:divide-base-800 border-y border-base-200 dark:border-base-800"
      >
        {
          philosphy.map((process, index) => (
            <div class="grid grid-cols-1 lg:grid-cols-3 py-4">
              <Text
                tag="h4"
                variant="textBase"
                data-aos="fade-up"
                data-aos-duration="1500"
                class="dark:text-white text-base-900 font-medium tracking-tight text-balance"
              >
                <span>(0{index + 1})</span>
                {process.title}
              </Text>
              <div class="lg:col-span-2 overflow-hidden">
                <Text
                  tag="h4"
                  variant="textBase"
                  data-aos="fade-up"
                  data-aos-duration="2000"
                  class="dark:text-base-400 text-base-700"
                >
                  {process.description}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>