---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const pageData = [
  {
    sectionTitle: "Pàgines principals",
    categories: [
      {
        title: "GeoTransectes UVic",
        links: [
          { url: "/", name: "Inici" },
          { url: "/itineraris", name: "Itineraris" },
          { url: "/itineraris/sau-tavertet", name: "Itinerari Sau–Tavertet" },
          { url: "/parades/I1-P1", name: "Parada I1-P1" },
          { url: "/roques/I1-P1-M1", name: "Material I1-P1-M1" },
          { url: "/credits", name: "Crèdits" },
          { url: "/404", name: "Error 404" },
        ],
      },
      {
        title: "Sistema de disseny",
        links: [
          { name: "Colors", url: "/system/colors" },
          { name: "Links", url: "/system/links" },
          { name: "Buttons", url: "/system/buttons" },
          { name: "Typography", url: "/system/typography" },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="overflow-hidden">
        <Text
          tag="h1"
          variant="displayMD"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="dark:text-white xl:text-6xl tracking-tight font-medium text-black text-balance"
        >
          Overview
        </Text>
      </div>
      <Text
        tag="p"
        variant="textBase"
        data-aos="fade-up"
        data-aos-duration="2000"
        class="mt-4 text-base-500 dark:text-base-400 max-w-xl"
      >
        Mapa de rutes del lloc GeoTransectes UVic.
      </Text>
      {
        pageData.map((section) => (
          <div class="mt-16">
            <Text
              tag="h2"
              variant="textBase"
              class="font-medium text-base-900 dark:text-white uppercase tracking-wide"
            >
              {section.sectionTitle}
            </Text>
            <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
              {section.categories.map((category) => (
                <div>
                  <Text
                    tag="h3"
                    variant="textSM"
                    class="font-medium text-base-700 dark:text-base-300 uppercase tracking-wide"
                  >
                    {category.title}
                  </Text>
                  <ul class="mt-4 space-y-2">
                    {category.links.map((link) => (
                      <li>
                        <Text
                          tag="a"
                          variant="textSM"
                          href={link.url}
                          class="text-base-500 hover:text-base-900 dark:hover:text-white duration-300"
                        >
                          {link.name}
                        </Text>
                      </li>
                    ))}
                  </ul>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </Wrapper>
  </section>
</BaseLayout>
