---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import Hero from "@/components/landing/Hero.astro";
import Services from "@/components/landing/Services.astro";
import Philosphy from "@/components/landing/Philosphy.astro";
import HowWeWork from "@/components/landing/HowWeWork.astro";
import Team from "@/components/landing/Team.astro";

// Components
import LogoCloud from "@/components/assets/LogoCloud.astro";
import ItinerariCard1 from "@/components/itinerari/ItinerariCard1.astro";
// Content
import { getCollection } from "astro:content";
const allItineraris = (await getCollection("itineraris"))
  .filter((entry) => !entry.data.draft)
  .sort((a, b) => (a.data.ordre ?? 999) - (b.data.ordre ?? 999));
---

<BaseLayout>
  <Hero />
  <LogoCloud />
  
  <section>
    <Wrapper variant="standard" class="pb-12">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="flex flex-col">
          <Text
            tag="h2"
            variant="displayXL"
            data-aos="fade-up"
            data-aos-duration="1000"
            class="dark:text-white text-base-900 font-medium tracking-tighter"
          >
            itinerari
            <br />
            destacat
          </Text>
          <Text
            tag="a"
            variant="textXS"
            data-aos="fade-up"
            data-aos-duration="1500"
            href="/itineraris"
            class="uppercase text-black dark:text-white hover:text-base-500"
          >
            veure'ls tots
          </Text>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-y-12 gap-2 lg:col-span-3"
        >
          {
            allItineraris
              .slice(0, 3)
              .map((post, index) => (
                <ItinerariCard1 post={post} index={index + 1} />
              ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
  <Philosphy />
  <HowWeWork />
  <Team />
</BaseLayout>
