---
import { project } from "@/data/project";
---

<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{project.title}</title>
<meta
  name="description"
  content={project.subtitle}
/>
<meta name="keywords" content="geologia, itineraris, UVic, biologia, petrografia" />
<meta name="author" content={project.institution} />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
