---
// Assets
import { Image } from "astro:assets";

// Importa els logos (ara en format .png)
import logo1 from "@/images/brands/1.png";
import logo2 from "@/images/brands/2.png";
import logo3 from "@/images/brands/3.png";
import logo4 from "@/images/brands/4.png";
import logo5 from "@/images/brands/5.png";
import logo6 from "@/images/brands/6.png";
import logo7 from "@/images/brands/7.png";
import logo8 from "@/images/brands/8.png";
import logo9 from "@/images/brands/9.png";
import logo10 from "@/images/brands/10.png";
import logo11 from "@/images/brands/11.png";
import logo12 from "@/images/brands/12.png";

const logos = [
  { src: logo1, alt: "Logo 1" },
  { src: logo2, alt: "Logo 2" },
  { src: logo3, alt: "Logo 3" },
  { src: logo4, alt: "Logo 4" },
  { src: logo5, alt: "Logo 5" },
  { src: logo6, alt: "Logo 6" },
  { src: logo7, alt: "Logo 7" },
  { src: logo8, alt: "Logo 8" },
  { src: logo9, alt: "Logo 9" },
  { src: logo10, alt: "Logo 10" },
  { src: logo11, alt: "Logo 11" },
  { src: logo12, alt: "Logo 12" },
];
---

<div class="relative mx-auto overflow-hidden overflow-x-hidden pb-12 w-full">
  <div class="items-center relative animate-marquee flex gap-8 lg:gap-16 whitespace-nowrap py-4">
    {
      logos.map((logo) => (
        <Image
          // He augmentat la mida d'exportació recomanada perquè no pixelin (això no canvia la mida visual)
          width={400} 
          height={200}
          // He canviat 'h-8' per 'h-16' perquè es vegin visualment molt més grans
          class="h-16 w-auto dark:invert object-contain"
          src={logo.src}
          alt={logo.alt}
        />
      ))
    }
  </div>
</div>