<svg
  viewBox="0 0 366.61359 347.3323"
  xmlns="http://www.w3.org/2000/svg"
  class="itinerari-sau"
>
    <defs
     id="defs1">
    <linearGradient
       id="swatch173"
       inkscape:swatch="solid">
      <stop
         style="stop-color:#c2a4f8;stop-opacity:1;"
         offset="0"
         id="stop173" />
    </linearGradient>
    <rect
       x="402.47831"
       y="40.644362"
       width="124.90706"
       height="48.574969"
       id="rect172" />
    <rect
       x="412.39157"
       y="73.358116"
       width="91.201983"
       height="46.592317"
       id="rect171" />
    <rect
       x="417.3482"
       y="67.410161"
       width="46.592317"
       height="30.731103"
       id="rect170" />
    <rect
       x="385.62577"
       y="60.47088"
       width="139.77695"
       height="39.653036"
       id="rect169" />
    <linearGradient
       id="swatch139"
       inkscape:swatch="solid">
      <stop
         style="stop-color:#eef4d7;stop-opacity:1;"
         offset="0"
         id="stop139" />
    </linearGradient>
    <linearGradient
       id="swatch133"
       inkscape:swatch="solid">
      <stop
         style="stop-color:#000000;stop-opacity:1;"
         offset="0"
         id="stop133" />
    </linearGradient>
  </defs>
  <sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:zoom="1.00875"
     inkscape:cx="337.05081"
     inkscape:cy="283.02354"
     inkscape:window-width="1920"
     inkscape:window-height="1009"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer4" />
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="CAMI">
    <path
       style="stroke-width:0.35044"
       d="m 125.81613,164.4167 -1.50139,6.44146 c 2.63577,0.58894 4.60425,0.77298 7.0732,0.47851 l -0.73401,-6.58869 c -1.63484,0.29446 -3.23632,0.11042 -4.8378,-0.33128 z"
       id="path133" />
    <path
       style="stroke-width:0.35044"
       d="m 117.77538,157.97524 -4.63762,4.15934 c 1.43466,1.95085 3.20296,3.82807 4.73771,5.15317 l 3.70342,-5.22678 c -1.46803,-1.25149 -2.73586,-2.76063 -3.80351,-4.08573 z"
       id="path132" />
    <path
       style="stroke-width:0.35044"
       d="m 24.255722,156.20844 c -1.671543,0.84659 -3.406478,1.50914 -5.204804,1.91403 l 1.367929,6.47827 c 2.141977,-0.4785 4.15717,-1.36191 6.172364,-2.28211 z"
       id="path131" />
    <path
       style="stroke-width:0.35044"
       d="m 10.576429,156.09801 -4.103788,4.85871 c 1.855046,1.95084 4.143825,3.23913 6.639462,3.82807 l 1.334565,-6.44147 c -1.481367,-0.33127 -2.865979,-1.14105 -3.870239,-2.24531 z"
       id="path130" />
    <path
       style="stroke-width:0.35044"
       d="m 34.365053,150.09825 c -1.668207,1.14106 -3.303049,2.24531 -5.037984,3.31275 l 2.969408,5.77892 c 1.768299,-1.14106 3.536598,-2.28212 5.238168,-3.4968 z"
       id="path129" />
    <path
       style="stroke-width:0.35044"
       d="m 111.43619,147.33763 -5.2048,3.31275 c 1.03428,1.98765 2.23539,4.12253 3.20295,5.81572 l 5.03799,-3.57041 c -1.13438,-1.95084 -2.10194,-3.79126 -3.03614,-5.55806 z"
       id="path128" />
    <path
       style="stroke-width:0.35044"
       d="m 5.972179,146.30699 c -1.931783,0.4417 -3.880248,0.80979 -5.82204,1.21468 0.350323,2.57658 1.287855,5.07955 2.135304,7.0672 l 5.421671,-2.87105 C 6.983112,149.8774 6.295811,147.96337 5.972179,146.30699 Z"
       id="path127" />
    <path
       style="stroke-width:0.35044"
       d="m 44.274199,142.8102 c -1.668206,1.21468 -3.336413,2.39254 -4.971255,3.68083 l 3.336413,5.52126 c 1.601478,-1.28829 3.303049,-2.50297 5.004619,-3.75445 z"
       id="path126" />
    <path
       style="stroke-width:0.35044"
       d="m 105.23046,135.81661 -5.03798,3.60722 c 1.06765,1.7668 2.10194,3.60722 3.0695,5.48445 l 5.2048,-3.31276 c -1.16774,-2.06126 -2.00184,-3.90168 -3.23632,-5.77891 z"
       id="path125" />
    <path
       style="stroke-width:0.35044"
       d="m 54.283438,135.37491 c -1.701571,1.21468 -3.369777,2.42935 -5.037984,3.68084 l 3.336413,5.52125 c 1.668207,-1.21468 3.303049,-2.46616 4.971255,-3.68083 z"
       id="path124" />
    <path
       style="stroke-width:0.35044"
       d="M 2.205369,132.50386 C 1.197772,134.8964 0.380351,137.47299 0,139.75511 l 5.905451,1.14106 c 0.360332,-2.09808 0.877476,-3.60722 1.634842,-5.41083 -1.831691,-0.8834 -3.579971,-1.95084 -5.334924,-2.98148 z"
       id="path123" />
    <path
       style="stroke-width:0.35044"
       d="m 64.859866,128.45494 c -1.83503,1.03064 -3.60332,2.2085 -5.371624,3.34956 l 3.036134,5.7053 c 1.73494,-1.03064 3.43651,-2.24531 5.13808,-3.23914 z"
       id="path122" />
    <path
       style="stroke-width:0.35044"
       d="m 96.388966,125.14219 -3.40314,5.44764 c 1.40129,1.14106 2.76922,2.35573 3.87024,3.86487 l 4.537524,-4.34338 c -1.701574,-1.91404 -3.002774,-3.71764 -5.004624,-4.96913 z"
       id="path121" />
    <path
       style="stroke-width:0.35044"
       d="m 70.531766,125.47347 2.26876,6.14699 c 1.73494,-0.84659 3.5366,-1.50914 5.37163,-2.13488 -0.63392,-2.09808 -1.10102,-4.23296 -1.60148,-6.36785 -2.10194,0.66255 -4.20388,1.54595 -6.03891,2.35574 z"
       id="path120" />
    <path
       style="stroke-width:0.35044"
       d="m 82.943216,121.79263 0.53383,6.5887 c 1.73494,-0.33128 3.46987,-0.11043 5.2048,0.18404 l 1.03429,-6.51508 c -2.20203,-0.36808 -4.53752,-0.62574 -6.77292,-0.25766 z"
       id="path119" />
    <path
       style="stroke-width:0.35044"
       d="m 10.276152,121.31412 c -1.601478,1.61957 -3.179602,3.4968 -4.404065,5.07956 l 4.570885,4.30657 c 1.284519,-1.72999 2.402218,-3.01828 3.903603,-4.49062 z"
       id="path118" />
    <path
       style="stroke-width:0.35044"
       d="m 20.252026,112.99544 c -1.871727,1.17786 -3.680063,2.76062 -5.238168,3.90168 l 3.63669,5.3004 c 1.658197,-1.3251 3.443178,-2.68701 4.871163,-3.64402 z"
       id="path117" />
    <path
       style="stroke-width:0.35044"
       d="m 30.828455,106.11227 c -1.768299,1.06745 -3.536598,2.1717 -5.33826,3.31276 l 3.002771,5.7421 c 1.701571,-1.10425 3.436505,-2.13489 5.17144,-3.16552 z"
       id="path116" />
    <path
       style="stroke-width:0.35044"
       d="m 41.705161,100.11251 c -1.868391,0.99383 -3.803511,2.02446 -5.471717,2.94467 l 2.702494,5.92614 c 1.801663,-1.03063 3.670055,-1.98765 5.304897,-2.87105 z"
       id="path114" />
    <path
       style="stroke-width:0.35044"
       d="m 52.715324,94.591261 c -1.801663,0.92021 -3.903603,1.95084 -5.505082,2.76063 l 2.468946,6.036569 c 1.968484,-0.95702 3.703418,-1.91404 5.438353,-2.72382 z"
       id="path113" />
    <path
       style="stroke-width:0.35044"
       d="m 63.792216,89.364471 c -1.90176,0.95702 -3.903605,1.84042 -5.538447,2.6134 l 2.368857,6.11018 c 1.96848,-0.92021 3.83687,-1.80361 5.50508,-2.61339 z"
       id="path112" />
    <path
       style="stroke-width:0.35044"
       d="m 74.869106,84.211301 c -1.83503,0.88341 -3.67005,1.76681 -5.53845,2.57659 l 2.33549,6.14699 c 1.83503,-0.84659 3.70342,-1.72999 5.53845,-2.57658 z"
       id="path110" />
    <path
       style="stroke-width:0.35044"
       d="m 85.912626,79.058141 c -1.83503,0.84659 -3.67005,1.72999 -5.50508,2.57658 l 2.33549,6.14699 c 1.86839,-0.84659 3.70342,-1.72999 5.53845,-2.61339 z"
       id="path109" />
    <path
       style="stroke-width:0.35044"
       d="m 26.758031,76.923251 c -1.70157,1.65638 -2.885997,2.94467 -4.437429,4.60105 l 4.237245,4.78508 c 1.568114,-1.65638 2.835951,-3.0919 4.303972,-4.49062 z"
       id="path108" />
    <path
       style="stroke-width:0.35044"
       d="m 96.856066,73.720921 c -1.83503,0.92021 -3.60333,1.80361 -5.47172,2.65021 l 2.43558,6.07337 c 1.83503,-0.8834 3.67005,-1.80361 5.50508,-2.72381 z"
       id="path107" />
    <path
       style="stroke-width:0.35044"
       d="m 107.53259,68.052441 c -1.7683,0.95702 -3.5366,1.95084 -5.3049,2.90786 l 2.56904,5.96295 c 2.06858,-1.10425 3.60332,-2.02446 5.47172,-2.98148 z"
       id="path106" />
    <path
       style="stroke-width:0.35044"
       d="m 35.63289,67.905211 c -1.501386,1.47233 -2.969408,2.94466 -4.470794,4.45381 l 4.03706,4.93231 c 1.468022,-1.47233 2.969408,-2.94466 4.437429,-4.417 z"
       id="path105" />
    <path
       style="stroke-width:0.35044"
       d="m 117.8421,61.795021 c -1.70157,1.10425 -3.46987,2.24531 -5.07134,3.20233 l 2.86931,5.85252 c 1.80166,-1.21467 3.83688,-2.28211 5.33826,-3.38637 z"
       id="path104" />
    <path
       style="stroke-width:0.35044"
       d="m 44.808025,59.218431 c -1.568114,1.39872 -3.0695,2.87106 -4.60425,4.30658 l 3.903603,5.04275 c 1.501386,-1.43553 3.002772,-2.87106 4.537522,-4.26977 z"
       id="path103" />
    <path
       style="stroke-width:0.35044"
       d="m 127.35088,54.470161 c -1.53475,1.36191 -3.13623,2.68701 -4.60425,3.79126 l 3.43651,5.44763 c 1.76829,-1.3251 3.50323,-2.76062 5.00462,-4.08572 z"
       id="path102" />
    <path
       style="stroke-width:0.35044"
       d="m 54.149981,50.752511 c -1.634842,1.39872 -3.269684,2.83425 -4.704342,4.15935 l 3.803511,5.11636 c 1.568114,-1.43553 3.169592,-2.90786 4.637614,-4.08573 z"
       id="path101" />
    <path
       style="stroke-width:0.35044"
       d="m 134.82445,45.562541 c -1.00093,1.69318 -2.16867,3.38636 -3.33642,4.67466 l 4.3707,4.60104 c 1.43466,-1.87723 2.96941,-3.79126 4.03706,-5.70529 z"
       id="path100" />
    <path
       style="stroke-width:0.35044"
       d="m 65.027736,40.714525 c -1.6682,1.3251 -3.40314,2.79743 -4.837785,4.01211 l 3.636685,5.26359 c 1.83502,-1.47233 3.10286,-2.57658 4.77107,-3.93849 z"
       id="path99" />
    <path
       style="stroke-width:0.35044"
       d="m 74.903526,33.582413 c -1.66821,1.25148 -3.30305,2.53977 -4.97126,3.79126 l 3.46987,5.41082 c 1.60148,-1.28829 3.23632,-2.50296 4.87116,-3.75445 z"
       id="path98" />
    <path
       style="stroke-width:0.35044"
       d="m 143.06538,34.225561 c -1.96848,0.36809 -3.97033,0.62575 -5.93881,0.8834 0.13346,1.84042 0.0334,3.82807 -0.30028,5.37402 l 5.83873,1.50915 c 0.33364,-2.65021 0.63391,-5.37402 0.40036,-7.76657 z"
       id="path97" />
    <path
       style="stroke-width:0.35044"
       d="m 83.910776,27.636871 c -1.76829,1.14106 -3.50323,2.28212 -5.2048,3.5336 l 3.26968,5.52125 c 1.63485,-1.17786 3.33642,-2.28211 5.00462,-3.38637 z"
       id="path96" />
    <path
       style="stroke-width:0.35044"
       d="m 137.32675,20.716901 -4.57088,4.30658 c 1.20111,1.5165 2.1353,3.38636 2.86931,4.89551 l 5.37163,-2.98148 c -1.13438,-2.41095 -2.13531,-4.23664 -3.67006,-6.22061 z"
       id="path94" />
    <path
       style="stroke-width:0.35044"
       d="m 106.06457,15.784581 c -2.03522,0.87604 -4.07043,1.66006 -5.80536,2.42935 l 2.36885,6.07338 c 1.83503,-0.86132 3.77015,-1.61221 5.40499,-2.24531 z"
       id="path93" />
    <path
       style="stroke-width:0.35044"
       d="m 125.24894,13.318421 -1.00092,6.51508 c 1.63484,0.37912 3.26968,0.85395 4.70434,1.80361 l 2.90268,-5.81572 c -2.03521,-1.19627 -4.30397,-2.27108 -6.6061,-2.50297 z"
       id="path92" />
    <path
       style="stroke-width:0.35044"
       d="m 118.60948,12.876741 c -2.30213,0.10674 -4.53752,0.58893 -6.40591,1.03063 l 1.26783,6.47827 c 1.86839,-0.4601 3.80351,-0.75089 5.43836,-0.8834 z"
       id="path90"
       inkscape:transform-center-x="8.2478315"
       inkscape:transform-center-y="-6.9789343" />
    <path
       style="stroke-width:0.35044"
       d="m 237.51304,250.93274 -1.50139,6.44146 c 2.63577,0.58894 4.60425,0.77298 7.0732,0.47851 l -0.73401,-6.58869 c -1.63484,0.29446 -3.23632,0.11042 -4.8378,-0.33128 z"
       id="path45" />
    <path
       style="stroke-width:0.35044"
       d="m 229.47229,244.49128 -4.63762,4.15934 c 1.43466,1.95085 3.20296,3.82807 4.73771,5.15317 l 3.70342,-5.22678 c -1.46803,-1.25149 -2.73586,-2.76063 -3.80351,-4.08573 z"
       id="path44" />
    <path
       style="stroke-width:0.35044"
       d="m 135.95263,242.72448 c -1.67154,0.84659 -3.40648,1.50914 -5.20481,1.91403 l 1.36793,6.47827 c 2.14198,-0.4785 4.15717,-1.36191 6.17237,-2.28211 z"
       id="path43" />
    <path
       style="stroke-width:0.35044"
       d="m 122.27334,242.61405 -4.10379,4.85871 c 1.85504,1.95084 4.14382,3.23913 6.63946,3.82807 l 1.33456,-6.44147 c -1.48136,-0.33127 -2.86597,-1.14105 -3.87023,-2.24531 z"
       id="path42" />
    <path
       style="stroke-width:0.35044"
       d="m 146.06196,236.61429 c -1.66821,1.14106 -3.30305,2.24531 -5.03799,3.31275 l 2.96941,5.77892 c 1.7683,-1.14106 3.5366,-2.28212 5.23817,-3.4968 z"
       id="path41" />
    <path
       style="stroke-width:0.35044"
       d="m 117.66909,232.82303 c -1.93179,0.4417 -3.88025,0.80979 -5.82204,1.21468 0.35032,2.57658 1.28785,5.07955 2.1353,7.0672 l 5.42167,-2.87105 c -0.724,-1.84042 -1.4113,-3.75445 -1.73493,-5.41083 z"
       id="path39" />
    <path
       style="stroke-width:0.35044"
       d="m 155.97111,229.32624 c -1.66821,1.21468 -3.33642,2.39254 -4.97126,3.68083 l 3.33641,5.52126 c 1.60148,-1.28829 3.30305,-2.50297 5.00462,-3.75445 z"
       id="path38" />
    <path
       style="stroke-width:0.35044"
       d="m 216.92737,222.33265 -5.03798,3.60722 c 1.06765,1.7668 2.10194,3.60722 3.0695,5.48445 l 5.2048,-3.31276 c -1.16774,-2.06126 -2.00184,-3.90168 -3.23632,-5.77891 z"
       id="path37" />
    <path
       style="stroke-width:0.35044"
       d="m 165.98034,221.89095 c -1.70157,1.21468 -3.36977,2.42935 -5.03798,3.68084 l 3.33641,5.52125 c 1.66821,-1.21468 3.30305,-2.46616 4.97126,-3.68083 z"
       id="path36" />
    <path
       style="stroke-width:0.35044"
       d="m 113.90228,219.0199 c -1.0076,2.39254 -1.82502,4.96913 -2.20537,7.25125 l 5.90545,1.14106 c 0.36033,-2.09808 0.87747,-3.60722 1.63484,-5.41083 -1.83169,-0.8834 -3.57997,-1.95084 -5.33492,-2.98148 z"
       id="path35" />
    <path
       style="stroke-width:0.35044"
       d="m 176.55677,214.97098 c -1.83502,1.03064 -3.60332,2.2085 -5.37162,3.34956 l 3.03613,5.7053 c 1.73494,-1.03064 3.43651,-2.24531 5.13808,-3.23914 z"
       id="path34" />
    <path
       style="stroke-width:0.35044"
       d="m 208.08588,211.65823 -3.40314,5.44764 c 1.40129,1.14106 2.76922,2.35573 3.87024,3.86487 l 4.53752,-4.34338 c -1.70157,-1.91404 -3.00277,-3.71764 -5.00462,-4.96913 z"
       id="path33" />
    <path
       style="stroke-width:0.35044"
       d="m 182.22867,211.98951 2.26876,6.14699 c 1.73494,-0.84659 3.5366,-1.50914 5.37163,-2.13488 -0.63392,-2.09808 -1.10102,-4.23296 -1.60148,-6.36785 -2.10194,0.66255 -4.20388,1.54595 -6.03891,2.35574 z"
       id="path32" />
    <path
       style="stroke-width:0.35044"
       d="m 194.64013,208.30867 0.53383,6.5887 c 1.73494,-0.33128 3.46987,-0.11043 5.2048,0.18404 l 1.03429,-6.51508 c -2.20203,-0.36808 -4.53752,-0.62574 -6.77292,-0.25766 z"
       id="path31" />
    <path
       style="stroke-width:0.35044"
       d="m 121.97306,207.83016 c -1.60148,1.61957 -3.1796,3.4968 -4.40407,5.07956 l 4.57089,4.30657 c 1.28452,-1.72999 2.40222,-3.01828 3.9036,-4.49062 z"
       id="path30" />
    <path
       style="stroke-width:0.35044"
       d="m 131.94893,199.51148 c -1.87173,1.17786 -3.68006,2.76062 -5.23817,3.90168 l 3.63669,5.3004 c 1.6582,-1.3251 3.44318,-2.68701 4.87117,-3.64402 z"
       id="path29" />
    <path
       style="stroke-width:0.35044"
       d="m 142.52536,192.62831 c -1.7683,1.06745 -3.5366,2.1717 -5.33826,3.31276 l 3.00277,5.7421 c 1.70157,-1.10425 3.43651,-2.13489 5.17144,-3.16552 z"
       id="path28" />
    <path
       style="stroke-width:0.35044"
       d="m 153.40207,186.62855 c -1.86839,0.99383 -3.80351,2.02446 -5.47172,2.94467 l 2.70249,5.92614 c 1.80167,-1.03063 3.67006,-1.98765 5.3049,-2.87105 z"
       id="path26" />
    <path
       style="stroke-width:0.35044"
       d="m 164.41223,181.1073 c -1.80166,0.92021 -3.9036,1.95084 -5.50508,2.76063 l 2.46894,6.03657 c 1.96849,-0.95702 3.70342,-1.91404 5.43836,-2.72382 z"
       id="path25" />
    <path
       style="stroke-width:0.35044"
       d="m 175.48912,175.88051 c -1.90176,0.95702 -3.9036,1.84042 -5.53844,2.6134 l 2.36885,6.11018 c 1.96848,-0.92021 3.83687,-1.80361 5.50508,-2.61339 z"
       id="path24" />
    <path
       style="stroke-width:0.35044"
       d="m 186.56601,170.72734 c -1.83503,0.88341 -3.67005,1.76681 -5.53844,2.57659 l 2.33548,6.14699 c 1.83503,-0.84659 3.70342,-1.72999 5.53845,-2.57658 z"
       id="path22" />
    <path
       style="stroke-width:0.35044"
       d="m 197.60954,165.57418 c -1.83503,0.84659 -3.67005,1.72999 -5.50508,2.57658 l 2.33549,6.14699 c 1.86839,-0.84659 3.70342,-1.72999 5.53845,-2.61339 z"
       id="path21" />
    <path
       style="stroke-width:0.35044"
       d="m 138.45494,163.43929 c -1.70157,1.65638 -2.886,2.94467 -4.43743,4.60105 l 4.23724,4.78508 c 1.56812,-1.65638 2.83595,-3.0919 4.30397,-4.49062 z"
       id="path20" />
    <path
       style="stroke-width:0.35044"
       d="m 208.55298,160.23696 c -1.83503,0.92021 -3.60333,1.80361 -5.47172,2.65021 l 2.43558,6.07337 c 1.83503,-0.8834 3.67005,-1.80361 5.50508,-2.72381 z"
       id="path19" />
    <path
       style="stroke-width:0.35044"
       d="m 219.2295,154.56848 c -1.7683,0.95702 -3.5366,1.95084 -5.3049,2.90786 l 2.56904,5.96295 c 2.06858,-1.10425 3.60332,-2.02446 5.47172,-2.98148 z"
       id="path18" />
    <path
       style="stroke-width:0.35044"
       d="m 147.3298,154.42125 c -1.50139,1.47233 -2.96941,2.94466 -4.4708,4.45381 l 4.03706,4.93231 c 1.46802,-1.47233 2.96941,-2.94466 4.43743,-4.417 z"
       id="path17" />
    <path
       style="stroke-width:0.35044"
       d="m 229.53901,148.31106 c -1.70157,1.10425 -3.46987,2.24531 -5.07134,3.20233 l 2.86931,5.85252 c 1.80166,-1.21467 3.83688,-2.28211 5.33826,-3.38637 z"
       id="path16" />
    <path
       style="stroke-width:0.35044"
       d="m 156.50493,145.73447 c -1.56811,1.39872 -3.0695,2.87106 -4.60425,4.30658 l 3.9036,5.04275 c 1.50139,-1.43553 3.00278,-2.87106 4.53753,-4.26977 z"
       id="path15" />
    <path
       style="stroke-width:0.35044"
       d="m 239.04779,140.9862 c -1.53475,1.36191 -3.13623,2.68701 -4.60425,3.79126 l 3.43651,5.44763 c 1.76829,-1.3251 3.50323,-2.76062 5.00462,-4.08572 z"
       id="path14" />
    <path
       style="stroke-width:0.35044"
       d="m 165.84689,137.26855 c -1.63485,1.39872 -3.26969,2.83425 -4.70435,4.15935 l 3.80352,5.11636 c 1.56811,-1.43553 3.16959,-2.90786 4.63761,-4.08573 z"
       id="path13" />
    <path
       style="stroke-width:0.35044"
       d="m 246.52136,132.07858 c -1.00093,1.69318 -2.16867,3.38636 -3.33642,4.67466 l 4.3707,4.60104 c 1.43466,-1.87723 2.96941,-3.79126 4.03706,-5.70529 z"
       id="path12" />
    <path
       style="stroke-width:0.35044"
       d="m 175.45576,129.13391 c -1.66821,1.3251 -3.40315,2.79743 -4.8378,4.01211 l 3.63669,5.26359 c 1.83502,-1.47233 3.10286,-2.57658 4.77107,-3.93849 z"
       id="path11" />
    <path
       style="stroke-width:0.35044"
       d="m 185.33154,121.36735 c -1.66821,1.25148 -3.30305,2.53977 -4.97126,3.79126 l 3.46987,5.41082 c 1.60148,-1.28829 3.23632,-2.50296 4.87117,-3.75445 z"
       id="path10" />
    <path
       style="stroke-width:0.35044"
       d="m 254.76229,120.7416 c -1.96848,0.36809 -3.97033,0.62575 -5.93881,0.8834 0.13346,1.84042 0.0334,3.82807 -0.30028,5.37402 l 5.83873,1.50915 c 0.33364,-2.65021 0.63391,-5.37402 0.40036,-7.76657 z"
       id="path9" />
    <path
       style="stroke-width:0.35044"
       d="m 195.60769,114.15291 c -1.76829,1.14106 -3.50323,2.28212 -5.2048,3.5336 l 3.26968,5.52125 c 1.63485,-1.17786 3.33642,-2.28211 5.00462,-3.38637 z"
       id="path8" />
    <path
       style="stroke-width:0.35044"
       d="m 206.38431,107.56421 c -2.03521,1.14474 -3.70342,2.16434 -5.50508,3.16552 l 2.93604,5.81572 c 1.73493,-1.10425 3.63669,-2.17169 5.17144,-3.01828 z"
       id="path7" />
    <path
       style="stroke-width:0.35044"
       d="m 249.02366,107.23294 -4.57088,4.30658 c 1.20111,1.5165 2.1353,3.38636 2.86931,4.89551 l 5.37163,-2.98148 c -1.13438,-2.41095 -2.13531,-4.23664 -3.67006,-6.22061 z"
       id="path6" />
    <path
       style="stroke-width:0.35044"
       d="m 217.76148,102.30062 c -2.03522,0.87604 -4.07043,1.66006 -5.80536,2.42935 l 2.36885,6.07338 c 1.83503,-0.86132 3.77015,-1.61221 5.40499,-2.24531 z"
       id="path5" />
    <path
       style="stroke-width:0.35044"
       d="m 236.94585,99.83446 -1.00092,6.51508 c 1.63484,0.37912 3.26968,0.85395 4.70434,1.80361 l 2.90268,-5.81572 c -2.03521,-1.19627 -4.30397,-2.27108 -6.6061,-2.50297 z"
       id="path4" />
    <path
       style="stroke-width:0.35044"
       d="m 230.30639,99.39278 c -2.30213,0.10674 -4.53752,0.58893 -6.40591,1.03063 l 1.26783,6.47827 c 1.86839,-0.4601 3.80351,-0.75089 5.43836,-0.8834 z"
       id="path2" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 349.28146,340.2742 -1.50139,6.44146 c 2.63577,0.58894 4.60425,0.77298 7.0732,0.47851 l -0.73401,-6.58869 c -1.63484,0.29446 -3.23632,0.11042 -4.8378,-0.33128 z"
       id="path89" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 341.24071,333.83274 -4.63762,4.15934 c 1.43466,1.95085 3.20296,3.82807 4.73771,5.15317 l 3.70342,-5.22678 c -1.46803,-1.25149 -2.73586,-2.76063 -3.80351,-4.08573 z"
       id="path88" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 247.72105,332.06594 c -1.67154,0.84659 -3.40648,1.50914 -5.2048,1.91403 l 1.36793,6.47827 c 2.14197,-0.4785 4.15717,-1.36191 6.17236,-2.28211 z"
       id="path87" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 234.04176,331.95551 -4.10379,4.85871 c 1.85505,1.95084 4.14383,3.23913 6.63946,3.82807 l 1.33457,-6.44147 c -1.48137,-0.33127 -2.86598,-1.14105 -3.87024,-2.24531 z"
       id="path86" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 257.83038,325.95575 c -1.6682,1.14106 -3.30305,2.24531 -5.03798,3.31275 l 2.96941,5.77892 c 1.7683,-1.14106 3.5366,-2.28212 5.23817,-3.4968 z"
       id="path85" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 334.90152,323.19513 -5.2048,3.31275 c 1.03428,1.98765 2.23539,4.12253 3.20295,5.81572 l 5.03799,-3.57041 c -1.13438,-1.95084 -2.10194,-3.79126 -3.03614,-5.55806 z"
       id="path84" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 229.43751,322.16449 c -1.93178,0.4417 -3.88025,0.80979 -5.82204,1.21468 0.35032,2.57658 1.28785,5.07955 2.1353,7.0672 l 5.42167,-2.87105 c -0.724,-1.84042 -1.4113,-3.75445 -1.73493,-5.41083 z"
       id="path83" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 267.73953,318.6677 c -1.66821,1.21468 -3.33641,2.39254 -4.97126,3.68083 l 3.33642,5.52126 c 1.60148,-1.28829 3.30305,-2.50297 5.00462,-3.75445 z"
       id="path82" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 328.69579,311.67411 -5.03798,3.60722 c 1.06765,1.7668 2.10194,3.60722 3.0695,5.48445 l 5.2048,-3.31276 c -1.16774,-2.06126 -2.00184,-3.90168 -3.23632,-5.77891 z"
       id="path81" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 277.74877,311.23241 c -1.70157,1.21468 -3.36978,2.42935 -5.03799,3.68084 l 3.33642,5.52125 c 1.6682,-1.21468 3.30305,-2.46616 4.97125,-3.68083 z"
       id="path80" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 225.6707,308.36136 c -1.0076,2.39254 -1.82502,4.96913 -2.20537,7.25125 l 5.90545,1.14106 c 0.36033,-2.09808 0.87748,-3.60722 1.63484,-5.41083 -1.83169,-0.8834 -3.57997,-1.95084 -5.33492,-2.98148 z"
       id="path79" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 288.3252,304.31244 c -1.83503,1.03064 -3.60333,2.2085 -5.37163,3.34956 l 3.03614,5.7053 c 1.73493,-1.03064 3.4365,-2.24531 5.13807,-3.23914 z"
       id="path78" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 319.8543,300.99969 -3.40314,5.44764 c 1.40129,1.14106 2.76922,2.35573 3.87024,3.86487 l 4.53752,-4.34338 c -1.70157,-1.91404 -3.00277,-3.71764 -5.00462,-4.96913 z"
       id="path77" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 293.9971,301.33097 2.26876,6.14699 c 1.73493,-0.84659 3.5366,-1.50914 5.37162,-2.13488 -0.63391,-2.09808 -1.10101,-4.23296 -1.60147,-6.36785 -2.10194,0.66255 -4.20388,1.54595 -6.03891,2.35574 z"
       id="path76" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 306.40855,297.65013 0.53383,6.5887 c 1.73494,-0.33128 3.46987,-0.11043 5.2048,0.18404 l 1.03429,-6.51508 c -2.20203,-0.36808 -4.53752,-0.62574 -6.77292,-0.25766 z"
       id="path75" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 233.74148,297.17162 c -1.60148,1.61957 -3.1796,3.4968 -4.40406,5.07956 l 4.57088,4.30657 c 1.28452,-1.72999 2.40222,-3.01828 3.9036,-4.49062 z"
       id="path74" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 243.71736,288.85294 c -1.87173,1.17786 -3.68007,2.76062 -5.23817,3.90168 l 3.63669,5.3004 c 1.65819,-1.3251 3.44318,-2.68701 4.87116,-3.64402 z"
       id="path73" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 254.29378,281.96977 c -1.76829,1.06745 -3.53659,2.1717 -5.33826,3.31276 l 3.00278,5.7421 c 1.70157,-1.10425 3.4365,-2.13489 5.17144,-3.16552 z"
       id="path72" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 265.17049,275.97001 c -1.86839,0.99383 -3.80351,2.02446 -5.47172,2.94467 l 2.7025,5.92614 c 1.80166,-1.03063 3.67005,-1.98765 5.3049,-2.87105 z"
       id="path70" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 276.18065,270.44876 c -1.80166,0.92021 -3.9036,1.95084 -5.50508,2.76063 l 2.46895,6.03657 c 1.96848,-0.95702 3.70342,-1.91404 5.43835,-2.72382 z"
       id="path69" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 287.25755,265.22197 c -1.90176,0.95702 -3.90361,1.84042 -5.53845,2.6134 l 2.36885,6.11018 c 1.96849,-0.92021 3.83688,-1.80361 5.50508,-2.61339 z"
       id="path68" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 298.33443,260.0688 c -1.83502,0.88341 -3.67005,1.76681 -5.53844,2.57659 l 2.33549,6.14699 c 1.83503,-0.84659 3.70342,-1.72999 5.53844,-2.57658 z"
       id="path66" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 309.37796,254.91564 c -1.83503,0.84659 -3.67005,1.72999 -5.50508,2.57658 l 2.33549,6.14699 c 1.86839,-0.84659 3.70342,-1.72999 5.53845,-2.61339 z"
       id="path65" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 250.22336,252.78075 c -1.70157,1.65638 -2.886,2.94467 -4.43743,4.60105 l 4.23725,4.78508 c 1.56811,-1.65638 2.83595,-3.0919 4.30397,-4.49062 z"
       id="path64" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 320.3214,249.57842 c -1.83503,0.92021 -3.60333,1.80361 -5.47172,2.65021 l 2.43558,6.07337 c 1.83503,-0.8834 3.67005,-1.80361 5.50508,-2.72381 z"
       id="path63" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 330.99792,243.90994 c -1.7683,0.95702 -3.5366,1.95084 -5.3049,2.90786 l 2.56904,5.96295 c 2.06858,-1.10425 3.60332,-2.02446 5.47172,-2.98148 z"
       id="path62" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 259.09822,243.76271 c -1.50139,1.47233 -2.96941,2.94466 -4.47079,4.45381 l 4.03706,4.93231 c 1.46802,-1.47233 2.9694,-2.94466 4.43742,-4.417 z"
       id="path61" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 341.30743,237.65252 c -1.70157,1.10425 -3.46987,2.24531 -5.07134,3.20233 l 2.86931,5.85252 c 1.80166,-1.21467 3.83688,-2.28211 5.33826,-3.38637 z"
       id="path60" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 268.27335,235.07593 c -1.56811,1.39872 -3.0695,2.87106 -4.60424,4.30658 l 3.9036,5.04275 c 1.50138,-1.43553 3.00277,-2.87106 4.53752,-4.26977 z"
       id="path59" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 350.81621,230.32766 c -1.53475,1.36191 -3.13623,2.68701 -4.60425,3.79126 l 3.43651,5.44763 c 1.76829,-1.3251 3.50323,-2.76062 5.00462,-4.08572 z"
       id="path58" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 277.61531,226.61001 c -1.63484,1.39872 -3.26968,2.83425 -4.70434,4.15935 l 3.80351,5.11636 c 1.56811,-1.43553 3.16959,-2.90786 4.63761,-4.08573 z"
       id="path57" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 358.28978,221.42004 c -1.00093,1.69318 -2.16867,3.38636 -3.33642,4.67466 l 4.3707,4.60104 c 1.43466,-1.87723 2.96941,-3.79126 4.03706,-5.70529 z"
       id="path56" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 287.22418,218.47537 c -1.66821,1.3251 -3.40314,2.79743 -4.8378,4.01211 l 3.63669,5.26359 c 1.83503,-1.47233 3.10287,-2.57658 4.77107,-3.93849 z"
       id="path55" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 297.09996,210.70881 c -1.6682,1.25148 -3.30305,2.53977 -4.97125,3.79126 l 3.46987,5.41082 c 1.60147,-1.28829 3.23632,-2.50296 4.87116,-3.75445 z"
       id="path54" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 366.53071,210.08306 c -1.96848,0.36809 -3.97033,0.62575 -5.93881,0.8834 0.13346,1.84042 0.0334,3.82807 -0.30028,5.37402 l 5.83873,1.50915 c 0.33364,-2.65021 0.63391,-5.37402 0.40036,-7.76657 z"
       id="path53" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 307.37611,203.49437 c -1.76829,1.14106 -3.50323,2.28212 -5.2048,3.5336 l 3.26968,5.52125 c 1.63485,-1.17786 3.33642,-2.28211 5.00462,-3.38637 z"
       id="path52" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 318.15273,196.90567 c -2.03521,1.14474 -3.70342,2.16434 -5.50508,3.16552 l 2.93604,5.81572 c 1.73493,-1.10425 3.63669,-2.17169 5.17144,-3.01828 z"
       id="path51" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 360.79208,196.5744 -4.57088,4.30658 c 1.20111,1.5165 2.1353,3.38636 2.86931,4.89551 l 5.37163,-2.98148 c -1.13438,-2.41095 -2.13531,-4.23664 -3.67006,-6.22061 z"
       id="path50" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 329.5299,191.64208 c -2.03522,0.87604 -4.07043,1.66006 -5.80536,2.42935 l 2.36885,6.07338 c 1.83503,-0.86132 3.77015,-1.61221 5.40499,-2.24531 z"
       id="path49" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 348.71427,189.17592 -1.00092,6.51508 c 1.63484,0.37912 3.26968,0.85395 4.70434,1.80361 l 2.90268,-5.81572 c -2.03521,-1.19627 -4.30397,-2.27108 -6.6061,-2.50297 z"
       id="path48" />
    <path
       style="display:inline;stroke-width:0.35044"
       d="m 342.07481,188.73424 c -2.30213,0.10674 -4.53752,0.58893 -6.40591,1.03063 l 1.26783,6.47827 c 1.86839,-0.4601 3.80351,-0.75089 5.43836,-0.8834 z"
       id="path46" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="PARADES" />
  <g
     inkscape:groupmode="layer"
     id="layer4"
     inkscape:label="NOMS"
     style="display:inline;fill:#1f5a45;fill-opacity:1">
    <g
       id="P1">
      <title
         id="title174">Parada 1- Presa de Sau</title>
      <g
         id="P01">
        <title
           id="title160">Presa de Sau granitoides </title>
        <path
           style="display:inline;fill:#e2e3db;stroke-width:0.183842"
           d="m 347.30238,312.75049 c 3.09802,0 5.60093,2.76129 5.60093,6.17913 0,3.41783 -2.50291,6.17912 -5.60093,6.17912 -3.09802,0 -5.60094,-2.76129 -5.60094,-6.17912 0,-3.41784 2.50292,-6.17913 5.60094,-6.17913 z"
           id="path71" />
        <path
           style="display:inline;stroke-width:0.133416"
           d="m 346.76761,309.03376 c -4.06466,0 -8.12931,2.63856 -8.12931,9.36494 l 8.12931,17.93701 8.1293,-17.93701 c 0,-6.72638 -4.06465,-9.36494 -8.1293,-9.36494 z"
           id="path67"
           sodipodi:nodetypes="scccs" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 346.46327,311.89095 c 3.20167,0 5.78832,2.85967 5.78832,6.38586 0,3.53219 -2.58665,6.38587 -5.78832,6.38587 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38587 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path152" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="314.68649"
         y="300.09418"
         id="text174"
         mask="none"><tspan
           sodipodi:role="line"
           id="tspan174"
           style="font-size:11.0933px;stroke:#6b693b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="314.68649"
           y="300.09418">Parada 1</tspan></text>
    </g>
    <g
       id="P2">
      <title
         id="title183">Parada 2 Pedrera- sauló</title>
      <g
         id="P02">
        <title
           id="title161">Parada 2 Cantera</title>
        <path
           style="stroke-width:0.156142"
           d="m 338.53019,158.99648 c -4.75704,0 -9.51409,3.93608 -9.51409,11.80826 l 9.51409,20.99248 9.51409,-20.99248 c 0,-7.87218 -4.75705,-11.80826 -9.51409,-11.80826 z"
           id="path23" />
        <path
           style="display:inline;opacity:0;fill:#e3e2db;fill-opacity:1;stroke-width:0.189993"
           d="m 338.80142,163.72436 c 3.20166,0 5.78832,2.85968 5.78832,6.38587 0,3.53218 -2.58666,6.38586 -5.78832,6.38586 -3.19624,0 -5.78833,-2.85368 -5.78833,-6.38586 0,-3.52619 2.59209,-6.38587 5.78833,-6.38587 z"
           id="path47" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 338.7111,163.3023 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19623,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59209,-6.38586 5.78832,-6.38586 z"
           id="path151" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px"
         x="309.40549"
         y="155.35867"
         id="text174-8"
         mask="none"><tspan
           id="tspan174-6"
           style="font-size:11.0933px;fill:#ff00ff;fill-opacity:1;stroke:#6b693b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="309.40549"
           y="155.35867">Parada 2</tspan></text>
    </g>
    <g
       id="P3">
      <title
         id="title176">Parada 3 Argiles vermelles paleocè</title>
      <g
         id="P03">
        <title
           id="title162">Parada 3 Argiles vermelles paleocè</title>
        <path
           style="stroke-width:0.35044"
           d="m 223.1331,233.85367 -5.2048,3.31275 c 1.03428,1.98765 2.23539,4.12253 3.20295,5.81572 l 5.03799,-3.57041 c -1.13438,-1.95084 -2.10194,-3.79126 -3.03614,-5.55806 z"
           id="path40" />
        <path
           style="opacity:0.962536;fill:#eef4d7;fill-opacity:1;stroke-width:0.218307"
           d="m 235.94952,219.18887 c 3.6788,0 6.65095,3.27896 6.65095,7.33753 0,4.05857 -2.97215,7.33753 -6.65095,7.33753 -3.67881,0 -6.65095,-3.27896 -6.65095,-7.33753 0,-4.05857 2.97214,-7.33753 6.65095,-7.33753 z"
           id="path27" />
        <path
           style="display:inline;stroke-width:0.163188"
           d="m 236.47111,213.71479 c -4.97171,0 -9.94963,4.11371 -9.94963,12.34113 2.76142,6.41118 1.57108,6.40074 9.94963,21.93977 l 9.94341,-21.93977 c 0,-8.22742 -4.9717,-12.34113 -9.94341,-12.34113 z"
           id="path1-7" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 236.91066,218.46047 c 3.20166,0 5.78832,2.85967 5.78832,6.38586 0,3.53218 -2.58666,6.38586 -5.78832,6.38586 -3.19624,0 -5.78833,-2.85368 -5.78833,-6.38586 0,-3.52619 2.59209,-6.38586 5.78833,-6.38586 z"
           id="path150" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;white-space:pre;inline-size:54.1587;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="213.89957"
         y="212.12753"
         id="text174-6"
         mask="none"><tspan
           x="213.89957"
           y="212.12753"
           id="tspan2"><tspan
             style="stroke:#6b693b"
             id="tspan1">Parada 3</tspan></tspan></text>
    </g>
    <g
       id="P4">
      <title
         id="title182">Parada 4 Gresos i conglomerats</title>
      <g
         id="P04">
        <title
           id="title163">Parda 4 Gresos i conglomerats </title>
        <path
           style="display:inline;stroke-width:0.133416"
           d="m 237.19603,73.829194 c -4.06466,0 -8.12931,2.638557 -8.12931,9.364937 l 8.12931,17.937009 8.1293,-17.937009 c 0,-6.72638 -4.06465,-9.364937 -8.1293,-9.364937 z"
           id="path67-7"
           sodipodi:nodetypes="scccs" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 236.67829,76.271821 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path91-2" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="214.05104"
         y="71.325951"
         id="text174-61"
         mask="none"><tspan
           sodipodi:role="line"
           id="tspan174-3"
           style="font-size:11.0933px;stroke:#6b693b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="214.05104"
           y="71.325951">Parada 4</tspan></text>
    </g>
    <g
       id="P5">
      <title
         id="title178">Parada 5 Gresos vermells</title>
      <g
         id="P05">
        <title
           id="title164">Parada 5 Gresos vermells</title>
        <path
           style="stroke-width:0.157811"
           d="m 124.78872,127.32699 c -4.80788,0 -9.61575,3.97814 -9.61575,11.93444 l 9.61575,21.21678 9.61574,-21.21678 c 0,-7.9563 -4.80787,-11.93444 -9.61574,-11.93444 z"
           id="path111" />
        <path
           style="stroke-width:0.148088"
           d="m 123.78198,127.54557 c -4.51164,0 -9.02892,3.73305 -9.02892,11.19912 2.50589,5.81791 1.42569,5.80844 9.02892,19.90954 l 9.02329,-19.90954 c 0,-7.46607 -4.51165,-11.19912 -9.02329,-11.19912 z"
           id="path1-8" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 125.02089,132.1255 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path91-1" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;white-space:pre;inline-size:54.7931;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="103.68475"
         y="121.8471"
         id="text174-4"
         mask="none"><tspan
           x="103.68475"
           y="121.8471"
           id="tspan4"><tspan
             style="stroke:#6b693b"
             id="tspan3">Parada 5</tspan></tspan></text>
    </g>
    <g
       id="P6">
      <g
         id="g179">
        <g
           id="P06">
          <title
             id="title165">Parada06  Gresos grisos - òxid groc </title>
          <path
             style="display:inline;stroke-width:0.133416"
             d="m 18.738728,128.08486 c -4.06466,0 -8.12931,2.63856 -8.12931,9.36494 l 8.12931,17.93701 8.1293,-17.93701 c 0,-6.72638 -4.06465,-9.36494 -8.1293,-9.36494 z"
             id="path67-3"
             sodipodi:nodetypes="scccs" />
          <path
             style="fill:#f9f9f9;stroke-width:0.189993"
             d="m 18.217021,130.37204 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
             id="path91-79" />
        </g>
        <text
           xml:space="preserve"
           style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;white-space:pre;inline-size:54.1587;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="2.9937978"
           y="124.58473"
           id="text174-49"
           mask="none"><tspan
             x="2.9937978"
             y="124.58473"
             id="tspan6"><tspan
               style="stroke:#6b693b"
               id="tspan5">Parada 6</tspan></tspan></text>
      </g>
    </g>
    <g
       id="P7">
      <title
         id="title181">Parada 7 Nummulits </title>
      <g
         id="P07">
        <title
           id="title166">Parada 7 Nummulits </title>
        <path
           style="stroke-width:0.35044"
           d="m 119.43089,42.619422 c -2.03521,1.14474 -3.70342,2.16434 -5.50508,3.16552 l 2.93604,5.81572 c 1.73493,-1.10425 3.63669,-2.17169 5.17144,-3.01828 z"
           id="path95" />
        <path
           style="display:inline;stroke-width:0.133416"
           d="m 118.09892,36.329321 c -4.06466,0 -8.12931,2.63856 -8.12931,9.36494 l 8.12931,17.93701 8.1293,-17.93701 c 0,-6.72638 -4.06465,-9.36494 -8.1293,-9.36494 z"
           id="path67-89"
           sodipodi:nodetypes="scccs" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 118.0364,38.839355 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path91-5" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="92.541458"
         y="34.609623"
         id="text174-9"
         mask="none"><tspan
           sodipodi:role="line"
           id="tspan174-1"
           style="font-size:11.0933px;stroke:#6b693b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="92.541458"
           y="34.609623">Parada71</tspan></text>
    </g>
    <g
       id="P8">
      <title
         id="title184">Parada 8 Margues del coll de malla</title>
      <g
         id="P08">
        <title
           id="title167">Parada 8 Margues del coll de malla</title>
        <path
           style="display:inline;stroke-width:0.133416"
           d="m 79.451496,0 c -4.06466,0 -8.12931,2.63856 -8.12931,9.36494 l 8.12931,17.93701 8.1293,-17.93701 C 87.580796,2.63856 83.516146,0 79.451496,0 Z"
           id="path67-8"
           sodipodi:nodetypes="scccs" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 78.439676,2.202329 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path91-7" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="20.94314"
         y="14.871136"
         id="text174-40"
         mask="none"><tspan
           sodipodi:role="line"
           id="tspan174-7"
           style="font-size:11.0933px;stroke:#6b693b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="20.94314"
           y="14.871136">Parada 8</tspan></text>
    </g>
    <g
       id="P9">
      <title
         id="title185">Parada 9 Gresos del castell</title>
      <g
         id="P09">
        <title
           id="title168">Parada 9 Gresos del castell</title>
        <path
           style="stroke-width:0.157148"
           d="m 23.423127,44.836231 c -4.787681,0 -9.581347,3.96144 -9.581347,11.88432 2.659207,6.17388 1.512922,6.16383 9.581347,21.12768 l 9.575362,-21.12768 c 0,-7.92288 -4.787681,-11.88432 -9.575362,-11.88432 z"
           id="path1" />
        <path
           style="fill:#f9f9f9;stroke-width:0.189993"
           d="m 23.975484,49.408394 c 3.20167,0 5.78833,2.85967 5.78833,6.38586 0,3.53218 -2.58666,6.38586 -5.78833,6.38586 -3.19624,0 -5.78832,-2.85368 -5.78832,-6.38586 0,-3.52619 2.59208,-6.38586 5.78832,-6.38586 z"
           id="path91" />
      </g>
      <text
         xml:space="preserve"
         style="font-size:11.0933px;line-height:1.55;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;display:inline;fill:#1f5a45;fill-opacity:1;stroke:#476b3b;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
         x="3.2340961"
         y="87.614632"
         id="text174-5"
         mask="none"><tspan
           sodipodi:role="line"
           id="tspan174-4"
           style="font-size:11.0933px;fill:#ff0000;fill-opacity:1;stroke:#6b3b5e;stroke-width:1.28;stroke-dasharray:none;stroke-opacity:1"
           x="3.2340961"
           y="87.614632">Parada 9</tspan></text>
    </g>
  </g>
</svg>
