---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const navigationItems = [
  {
    title: "Resources",
    items: [
      { href: "https://buy.polar.sh/polar_cl_1VZ_5CG_hCUa3jpsD91OT3rf333sjjrDLG2h6SbvGJg", text: "Buy Kotei" },
      { href: "https://lexingtonthemes.com/legal/license/", text: "License" },
      { href: "https://lexingtonthemes.com/documentation", text: "Documentation" },
    ],
  },
  {
    title: "Connect",
    items: [
      { href: "#_", text: "GitHub" },
      { href: "#_", text: "Twitter" },
      { href: "#_", text: "Instagram" },
      { href: "#_", text: "Linked In" },
    ],
  },
  {
    title: "Navigation",
    items: [
      { href: "/system/overview", text: "Overview" },
      { href: "/system/links", text: "Links" },
      { href: "/system/buttons", text: "Buttons" },
      { href: "/system/colors", text: "Colors" },
      { href: "/system/typography", text: "Typography" },
    ],
  },
];
---

<footer class="bg-base-50 dark:bg-base-800 overflow-hidden">
  <Wrapper variant="standard">
    <div class="flex flex-col divide-y divide-base-300 dark:divide-base-700 border-b border-base-300 dark:border-base-700">
      {navigationItems.map((section) => (
        <div class="grid grid-cols-1 md:grid-cols-2 gap-1 py-8">
          <Text tag="h3" variant="displayXL" class="dark:text-white text-base-900 font-medium tracking-tighter">
            {section.title}
          </Text>
          <div class="mt-2 grid grid-cols-1 md:grid-cols-2 gap-1">
            {section.items.map((item) => (
              <a href={item.href} class="text-sm text-base-700 hover:text-accent-500 dark:hover:text-accent-300 dark:text-base-400 duration-500">
                {item.text}
              </a>
            ))}
          </div>
        </div>
      ))}
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-12 pt-8">
      <Text tag="p" variant="textSM" class="text-base-700 dark:text-base-400 pt-2 md:text-balance">
        © Copyright Montse Magnet. TFG - Grau en Biologia. <span id="year"></span>. All rights reserved. 
      </Text>
      <div class="text-right">
        <Text tag="p" variant="displayXL" class="dark:text-white text-base-900 font-medium tracking-tighter lg:ml-auto">
          <span id="clock"></span>
        </Text>
        <Text tag="span" variant="textSM" class="text-base-700 dark:text-base-400 mt-1">
          Helsinki, Finland
        </Text>
      </div>
    </div>
  </Wrapper>
</footer>

<script type="module">
  function updateClock() {
    const now = new Date().toLocaleString("en-US", { timeZone: "Europe/Helsinki" });
    const dateObj = new Date(now);
    let hours = dateObj.getHours();
    const minutes = dateObj.getMinutes();
    const period = hours >= 12 ? "PM" : "AM";
    hours = hours % 12 || 12;
    const timeString = [hours.toString().padStart(2, "0"), minutes.toString().padStart(2, "0")].join(":") + " " + period;
    document.getElementById("clock").textContent = timeString;
  }
  function updateYear() {
    document.getElementById("year").textContent = new Date().getFullYear();
  }
  setInterval(updateClock, 1000);
  updateClock();
  updateYear();
</script>